<md-dialog style="max-width: 600px; min-width: 400px;">
	<form name="frmEdit" class="dialog-form" ng-cloak >

	    <md-toolbar>
	      <div class="md-toolbar-tools">
	        <h2>{{form.header}}</h2>
	      </div>
	    </md-toolbar>
    
		<md-dialog-content>			
			<section ng-repeat="panel in form.panels" style="padding-left: 10px;padding-right: 10px;"> 
				<md-subheader class="md-primary">{{panel.title}}</md-subheader>
				
				<div ng-repeat="field in form.fields | filter:{visible: true, panel: panel.name}">
					<complex-form-control element="currentElement"
								  form="frmEdit"
								  field="field"							
					>
					</complex-form-control>		
				</div>	
			</section>
		</md-dialog-content>
		
		<md-dialog-actions layout="row">
			<md-button ng-repeat="action in form.actions" 
							id="{{action.action}}" 
							ng-click="actions[action.controllerMethod.name]()"
							ng-disabled="(action.action=='cmdSave' || action.action=='cmdOk') && (frmEdit.$invalid || frmEdit.$pristine)">
				{{action.button.desc}}
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>