<md-dialog style="width: 600px;">
	<form name="frmSearch" class="dialog-form" ng-cloak >

	    <md-toolbar>
	      <div class="md-toolbar-tools">
	        <h2>Поиск элемента справочника</h2>
	      </div>
	    </md-toolbar>

		<md-dialog-content class="md-padding">
			<div class="table">
				<table ng-class="descriptionService.sections.main.table.tableClass" ng-style="descriptionService.sections.main.table.tableStyle">
					<thead>
						<tr>
							<th style="width: 5%; min-width: 30px"></th>
							<th ng-repeat="item in descriptionService.sections.main.table.fields" style="{{item.headerStyle}}" class="{{item.headerClass}}">
								{{item.desc}}
							</th>

						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="item in data.elements" ng-click="setSelectedRow($index+1)" ng-class="{'selected':$index+1 == getSelectedRow()}">
							<td class="text-center">
								<span class="glyphicon glyphicon-triangle-right text-primary" ng-show="$index+1 == getSelectedRow()" >
								</span>
							</td>

							<td ng-repeat="field in descriptionService.sections.main.table.fields | filter: {cell: true}" class="{{field.cellClass}}" style="{{field.cellStyle}}">
								{{item[field.name] | cellFilter: field }}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</md-dialog-content>
		
		<md-dialog-actions layout="row">
			<md-button ng-click="ok()">Ok</md-button>
			<md-button ng-click="cancel()">Отмена</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>