<!DOCTYPE html>
<html ng-app="app" ng-controller="appController">
	<head>
	    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
		<base href="/blnClient/">
		
	    <title>{{data.app.header}}</title>
	
	    <link href="content/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="content/angular-material/angular-material.min.css" rel="stylesheet">
        <link href="content/css/main.css?version=v2" rel="stylesheet">
        <link href="content/css/login.css?version=v2" rel="stylesheet">

		<script src="content/bootstrap/js/jquery-1.12.3.min.js"></script>
        <script src="content/bootstrap/js/bootstrap.min.js"></script>
        <script src="content/angular/angular.min.js"></script>
        <script src="content/angular/angular-resource.js"></script>
        <script src="content/angular/angular-route.min.js"></script>
        <script src="content/angular/angular-animate.min.js"></script>
        <script src="content/angular/angular-touch.js"></script>
        <script src="content/angular/angular-aria.min.js"></script>
        <script src="content/angular/angular-messages.min.js"></script>
        <script src="content/angular/angular-cookies.min.js"></script>
        <script src="content/bootstrap-ui/ui-bootstrap-tpls-1.3.2.min.js"></script>
        <script src="content/angular-material/angular-material.min.js"></script>
		<script src="content/moment.js"></script>

        <!--common modules -->
		<script src="common/common.js?version=v2"></script>

		<!--filters -->
		<script src="common/filters/filters.js?version=v2"></script>

	    <!--directives -->
	    <script src="common/directives/complexFormControl/complexFormControl.js?version=v2"></script>
	    <script src="common/directives/complexFormControl/control/control.js?version=v2"></script>
	    	    
	    <script src="common/directives/breadcrumb/breadcrumb.js?version=v2"></script>
	    <script src="common/directives/complexForm/complexForm.js?version=v2"></script>
	    	    	
				
		<!--services -->
	    <script src="common/services/stateService.js?version=v2"></script>
	    <script src="common/services/builderService.js?version=v2"></script>
	    <script src="common/services/descriptionServiceHelper.js?version=v2"></script>
	    
	    	    
	    <!--app module-->
	    <script src="app.js?version=v2"></script>
	    <script src="appController.js?version=v2"></script>
		<script src="auth/authenticationService.js?version=v2"></script>
		
			    	
	    <!--dict module -->
	  	<script src="dict/dictApp.js?version=v2"></script>
	    <script src="dict/dictController.js?version=v2"></script>
	   	<script src="dict/services/dictDataServiceFactory.js?version=v2"></script>
	    <script src="dict/features/dictDefault/controllers/dictDefaultListCtrl.js?version=v2"></script>
	    <script src="dict/features/dictDefault/controllers/dictDefaultEditCtrl.js?version=v2"></script>
	    <script src="dict/features/dictDefault/controllers/dictDefaultSearchCtrl.js?version=v2"></script>
		<script src="dict/features/dictBusinessPartnerContent/controllers/dictBusinessPartnerContentEditCtrl.js?version=v2"></script>

	    <script src="dict/features/dictUnit/models/dictUnitDescriptionService.js?version=v2"></script>
	    <script src="dict/features/dictRegion/models/dictRegionDescriptionService.js?version=v2"></script>
	    <script src="dict/features/dictEnergyZone/models/dictEnergyZoneDescriptionService.js?version=v2"></script>
	    <script src="dict/features/dictEnergyNode/models/dictEnergyNodeDescriptionService.js?version=v2"></script>
	    <script src="dict/features/dictEnergyDistrict/models/dictEnergyDistrictDescriptionService.js?version=v2"></script>
	    <script src="dict/features/dictDataSource/models/dictDataSourceDescriptionService.js?version=v2"></script>
	    <script src="dict/features/dictMeterType/models/dictMeterTypeDescriptionService.js?version=v2"></script>
	    <script src="dict/features/dictCurrentTransType/models/dictCurrentTransTypeDescriptionService.js?version=v2"></script>
	    <script src="dict/features/dictVoltageTransType/models/dictVoltageTransTypeDescriptionService.js?version=v2"></script>
	    <script src="dict/features/dictOrganization/models/dictOrganizationDescriptionService.js?version=v2"></script>
	    <script src="dict/features/dictMeter/models/dictMeterDescriptionService.js?version=v2"></script>
	    <script src="dict/features/dictEnergySourceType/models/dictEnergySourceTypeDescriptionService.js?version=v2"></script>
	    <script src="dict/features/dictSubstation/models/dictSubstationDescriptionService.js?version=v2"></script>
	    <script src="dict/features/dictEnergySource/models/dictEnergySourceDescriptionService.js?version=v2"></script>
	    <script src="dict/features/dictMeteringType/models/dictMeteringTypeDescriptionService.js?version=v2"></script>
	    <script src="dict/features/dictSubstationType/models/dictSubstationTypeDescriptionService.js?version=v2"></script>
	    <script src="dict/features/dictAccountingType/models/dictAccountingTypeDescriptionService.js?version=v2"></script>
	    <script src="dict/features/dictMeteringPointType/models/dictMeteringPointTypeDescriptionService.js?version=v2"></script>
	    <script src="dict/features/dictMeteringPoint/models/dictMeteringPointDescriptionService.js?version=v2"></script>
		<script src="dict/features/dictBusinessPartner/models/dictBusinessPartnerDescriptionService.js?version=v2"></script>
		<script src="dict/features/dictSubstationBusinessPartner/models/dictSubstationBusinessPartnerDescriptionService.js?version=v2"></script>
		<script src="dict/features/dictSubstationMeteringPoint/models/dictSubstationMeteringPointDescriptionService.js?version=v2"></script>
		<script src="dict/features/dictEnergySourceBusinessPartner/models/dictEnergySourceBusinessPartnerDescriptionService.js?version=v2"></script>
		<script src="dict/features/dictEnergySourceMeteringPoint/models/dictEnergySourceMeteringPointDescriptionService.js?version=v2"></script>
		<script src="dict/features/dictMeteringPointMeter/models/dictMeteringPointMeterDescriptionService.js?version=v2"></script>
		<script src="dict/features/dictMeteringPointCurrentTrans/models/dictMeteringPointCurrentTransDescriptionService.js?version=v2"></script>
		<script src="dict/features/dictMeteringPointVoltageTrans/models/dictMeteringPointVoltageTransDescriptionService.js?version=v2"></script>
		<script src="dict/features/dictVoltageClass/models/dictVoltageClassDescriptionService.js?version=v2"></script>
		<script src="dict/features/dictCountry/models/dictCountryDescriptionService.js?version=v2"></script>
		<script src="dict/features/dictBank/models/dictBankDescriptionService.js?version=v2"></script>
		<script src="dict/features/dictReactor/models/dictReactorDescriptionService.js?version=v2"></script>
		<script src="dict/features/dictPowerTransformer/models/dictPowerTransformerDescriptionService.js?version=v2"></script>
		<script src="dict/features/dictPowerLineType/models/dictPowerLineTypeDescriptionService.js?version=v2"></script>
		<script src="dict/features/dictPowerLine/models/dictPowerLineDescriptionService.js?version=v2"></script>
		<script src="dict/features/dictPowerLinePart/models/dictPowerLinePartDescriptionService.js?version=v2"></script>
		<script src="dict/features/dictBusinessPartnerContact/models/dictBusinessPartnerContactDescriptionService.js?version=v2"></script>
		<script src="dict/features/dictBusinessPartnerContent/models/dictBusinessPartnerContentDescriptionService.js?version=v2"></script>
		<script src="dict/features/dictBusinessPartnerBankAccount/models/dictBusinessPartnerBankAccountDescriptionService.js?version=v2"></script>


		<!--adm module -->
	  	<script src="adm/admApp.js?version=v2"></script>
	    <script src="adm/admController.js?version=v2"></script>
	    <script src="adm/services/admDataServiceFactory.js?version=v2"></script>
	    <script src="adm/services/metaDataServiceFactory.js?version=v2"></script>
	    <script src="adm/features/admDefault/controllers/admDefaultListCtrl.js?version=v2"></script>
	    <script src="adm/features/admDefault/controllers/admDefaultEditCtrl.js?version=v2"></script>
		<script src="adm/features/admFunc/models/admFuncDescriptionService.js?version=v2"></script>
		<script src="adm/features/admRole/models/admRoleDescriptionService.js?version=v2"></script>
		<script src="adm/features/admUser/models/admUserDescriptionService.js?version=v2"></script>
		<script src="adm/features/admRoleModule/models/admRoleModuleDescriptionService.js?version=v2"></script>
		<script src="adm/features/admRoleFunc/models/admRoleFuncDescriptionService.js?version=v2"></script>
		<script src="adm/features/admRoleDict/models/admRoleDictDescriptionService.js?version=v2"></script>
		<script src="adm/features/admUserRole/models/admUserRoleDescriptionService.js?version=v2"></script>
		<script src="adm/features/metaModule/models/metaModuleDescriptionService.js?version=v2"></script>
		<script src="adm/features/metaDict/models/metaDictDescriptionService.js?version=v2"></script>
		<script src="adm/features/metaAdm/models/metaAdmDescriptionService.js?version=v2"></script>
		<script src="adm/features/metaMedia/models/metaMediaDescriptionService.js?version=v2"></script>

		<!--media module -->
	  	<script src="media/mediaApp.js?version=v2"></script>
	    <script src="media/mediaController.js?version=v2"></script>
	    <script src="media/services/mediaDataServiceFactory.js?version=v2"></script>
	    <script src="media/features/mediaDefault/controllers/mediaDefaultListCtrl.js?version=v2"></script>
	    <script src="media/features/mediaDefault/controllers/mediaDefaultEditCtrl.js?version=v2"></script>
		<script src="media/features/mediaGroup/models/mediaGroupDescriptionService.js?version=v2"></script>
		<script src="media/features/mediaGroupMeteringPoint/models/mediaGroupMeteringPointDescriptionService.js?version=v2"></script>
		<script src="media/features/mediaDocType/models/mediaDocTypeDescriptionService.js?version=v2"></script>
		<script src="media/features/mediaDocMeteringReadingHeader/models/mediaDocMeteringReadingHeaderDescriptionService.js?version=v2"></script>
		<script src="media/features/mediaDocMeteringReadingLine/models/mediaDocMeteringReadingLineDescriptionService.js?version=v2"></script>
		<script src="media/features/mediaDocMeterReplacingHeader/models/mediaDocMeterReplacingHeaderDescriptionService.js?version=v2"></script>
		<script src="media/features/mediaDocMeterReplacingLine/models/mediaDocMeterReplacingLineDescriptionService.js?version=v2"></script>
		<script src="media/features/mediaDocUnderAccountingHeader/models/mediaDocUnderAccountingHeaderDescriptionService.js?version=v2"></script>
		<script src="media/features/mediaDocUnderAccountingMeasLine/models/mediaDocUnderAccountingMeasLineDescriptionService.js?version=v2"></script>
		<script src="media/features/mediaDocUnderAccountingCalcLine/models/mediaDocUnderAccountingCalcLineDescriptionService.js?version=v2"></script>

		<!--info module -->
	  	<script src="info/infoApp.js"></script>
	    <script src="info/infoController.js"></script>	
		
		<script type="text/javascript">		
			if (!String.prototype.startsWith) {
			  String.prototype.startsWith = function(searchString, position) {
			    position = position || 0;
			    return this.indexOf(searchString, position) === position;
			  };
			}		
		</script>
	</head>

	<body>

		<div id="wrapper">
			<div ng-if="!data.auth.isAuth">
				<div class="panel panel-primary" >

					<!-- Applivation Header -->
					<div class="panel-heading">
						{{data.app.header}}
					</div>
				</div>

				<div class="panel panel-body" >
					<form class="form-signin" ng-show="!data.auth.isAuth" >
				  <h2 class="form-signin-heading">Вход в систему</h2>

				  <input
					type="text"
					class="form-control"
					name="username"
					placeholder="Учетная запись"
					required=""
					autofocus=""
					ng-model="data.auth.user"
				  />
				  <br/>

				  <input
					type="password"
					class="form-control"
					name="password"
					placeholder="Пароль"
					required=""
					ng-model="data.auth.pass"
				  />
				  <br/>
				  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Вход</button>

				  <br/>
				  <div class="alert alert-danger" ng-show="data.error">
					{{data.error.errMsg}}
				  </div>
				</form>
				</div>
			</div>

		    <div ng-if="data.auth.isAuth" style="background: #eeeeee">
			    <div class="panel panel-primary" style="margin-bottom: 0;">

					<div class="panel-heading">
			            {{data.app.header}}
						<span>
							<a id="cmdFullScreen" ng-click="data.fullScreen=!data.fullScreen" class="btn btn-primary btn-sm pull-right">
								<span ng-class="data.fullScreen ? 'glyphicon glyphicon-option-horizontal' : 'glyphicon glyphicon-fullscreen'"
			                             uib-tooltip="Полноэкранный режим" tooltip-placement="bottom">
								</span>
							</a> 
						</span>
			        </div>
			
			        <div class="panel-body" ng-show="!data.fullScreen">
				      	<span class="badge">
				      		Текущий пользователь: {{data.auth.user}} <br/>
				      	</span>
						
				      	<span class="badge">
				      		Текущие полномочия: {{data.auth.currentResp.name}} <br/>
				      	</span>

						<button class="btn btn-primary pull-right btn-sm RbtnMargin" type="button" ng-click="logout()">Выход</button>
			        </div>
			    </div>

				<md-content class="md-padding" ng-show="!data.fullScreen" style="margin-top: 5px; border: thin solid lightgray;">
				  <md-nav-bar md-selected-nav-item="data.app.current">
					<md-nav-item md-nav-click="goto(item.code)" name="{{item.code}}" ng-repeat="item in data.app.topMenu">
						<span style="white-space: pre-wrap">{{item.shortName}}</span>
					</md-nav-item>
				  </md-nav-bar>
				</md-content>

				
				<div ng-if="data.app.current=='INFO'" style="background: #eeeeee; margin-top: 5px;">
					<div layout="row" ng-controller="infoController">
					</div>
				</div>	
				

				<div ng-if="data.app.current=='DICT'" style="background: #eeeeee; margin-top: 5px;">
					<div layout="row" ng-controller="dictController">
					  
					  <div flex="20" ng-show="!data.fullScreen" style="margin-right: 10px; border: thin solid lightgray;">
					    <md-content>
							<md-menu style="margin-bottom: 0px;">
								<md-button class="md-raised md-primary" ng-click="$mdMenu.open()">
									<md-icon md-menu-origin md-svg-icon="call:textsms"></md-icon>
									{{menu.selectedGroupName}}
								</md-button>
								<md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
									<md-menu-item ng-repeat="group in menu.dictGroups">
										<md-button ng-click="menu.selectedGroup=group.code; menu.selectedGroupName=group.name;">
											{{group.name}}
										</md-button>
									</md-menu-item>
								</md-menu-content>
							</md-menu>

							<md-list flex style="margin-top: 0px; height: 600px; overflow-y: auto;">
								<md-list-item class="md-3-line" ng-repeat="item in menu.nodes | filter:{dictGroupCode: menu.selectedGroup}" ng-click="onSelectedMenu(item.code)">
								  <img ng-src="{{item.imagePath}}?{{$index}}" class="md-avatar" />
								  <div class="md-list-item-text" layout="column">
									<h3>{{item.shortName}}</h3>
									<p>{{item.name}}</p>
								  </div>
								</md-list-item>
							</md-list>
					    </md-content>					  
					  </div>
					  
					  <div flex="data.fullScreen ? '100': '20'" style="border: thin solid lightgray;">
			          	<div ng-view class="ngFade" autoscroll="true"></div>
					  </div>				
					</div>
				</div>		
				

				<div ng-if="data.app.current=='ADM'" style="background: #eeeeee; margin-top: 5px;">
					<div layout="row" ng-controller="admController">
					  
					  <div flex="20" ng-show="!data.fullScreen" style="margin-right: 10px; border: thin solid lightgray;">
					    <md-content>
					      <md-list flex>
					        <md-list-item class="md-3-line" ng-repeat="item in menu.nodes" ng-click="onSelectedMenu(item.code)">
					          <img ng-src="{{item.imagePath}}?{{$index}}" class="md-avatar" />
					          <div class="md-list-item-text" layout="column">
					            <h3>{{item.shortName}}</h3>
					            <p>{{item.name}}</p>
					          </div>
					        </md-list-item>						        
					      </md-list>
					    </md-content>					  
					  </div>
					  
					  <div flex="data.fullScreen ? '100': '20'" style="border: thin solid lightgray;">
			          	<div ng-view class="ngFade" autoscroll="true"></div>
					  </div>				
					</div>
				</div>	
				
				<div ng-if="data.app.current=='MEDIA'" style="background: #eeeeee; margin-top: 5px;">
					<div layout="row" ng-controller="mediaController">
					  
					  <div flex="20" ng-show="!data.fullScreen" style="margin-right: 10px; border: thin solid lightgray;">
					    <md-content>
					      <md-list flex>
					        <md-list-item class="md-3-line" ng-repeat="item in menu.nodes" ng-click="onSelectedMenu(item.code)">
					          <img ng-src="{{item.imagePath}}?{{$index}}" class="md-avatar" />
					          <div class="md-list-item-text" layout="column">
					            <h3>{{item.shortName}}</h3>
					            <p>{{item.name}}</p>
					          </div>
					        </md-list-item>						        
					      </md-list>
					    </md-content>					  
					  </div>
					  
					  <div flex="data.fullScreen ? '100': '20'" style="border: thin solid lightgray;">
			          	<div ng-view class="ngFade" autoscroll="true"></div>
					  </div>				
					</div>
				</div>	
		    </div>
		</div>
		
	</body>
</html>
